

.card-title{
    background-color: rgb(184, 233, 216);
    width: fit-content;
    padding: .5rem;
    border-radius: 10%;
}

@media (min-width: 768px){
   .card-image{
    min-height: 30vh;
    max-height: 30vh;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    /* width: 30vw; */
   }
}

.card-style{
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color: rgb(247, 240, 231);
    border: none !important;
}