

.card-title{
    background-color: rgb(184, 233, 216);
    width: fit-content;
    padding: .5rem;
    border-radius: 10%;
}


   .card-image{
    min-height: 35vh;
    max-height: 35vh;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    /* width: 30vw; */
   }
   @media (max-width: 1399px){
    .card-image{
      min-height: 30vh;
      max-height: 30vh;
    }
 }

 @media (max-width: 1199px){
    .card-image{
      min-height: 40vh;
      max-height: 40vh;
    }
 }

 @media (max-width: 991px){
  .card-image{
    min-height: 30vh;
    max-height: 30vh;
  }
}
   @media (max-width: 767px){
      .card-image{
        min-height: 5vh;
        max-height: 100vh;
      }
   }


   @media (max-width: 545px){
      .card-image{
        min-height: 40vh;
        max-height: 40vh;
      }
   }

   @media (max-width: 490px){
    .card-image{
      min-height: 35vh;
      max-height: 35vh;
    }
 }

.card-style{
    background-color: rgb(247, 240, 231);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    min-height: 33vh;
    height: auto;
    max-height: 100vh;
}

.card {
  transition: .6s;
  transition-delay: 0s;
  -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
  
}

.card:hover {
  transition-delay: 1s;
  -webkit-box-shadow: -1px 2px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 23px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 23px 0px rgba(0,0,0,0.75);
  transform: scale(1.02);
}

.card-profile {
  transition: .6s;
  transition-delay: 0s;
  
}

.card-profile:hover {
  transition: .2s;
  -webkit-box-shadow: -1px 2px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 23px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 23px 0px rgba(0,0,0,0.75);
  transform: scale(1.01);
}




