.filters-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
}

.filter-custom {
    max-width: 15rem;
}

.filters-font select, option, label{
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    letter-spacing: .5px;
}

.filters-font label{
    font-size: x-large;
}