
.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin: 20vh auto;
    background-color: #212529;
    border-radius: 10%;
    max-width: 20vw;
}

.form-wrapper__tour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin: 2vh auto 20vh auto;
    background-color: #212529;
    border-radius: 10%;
    max-width: 40vw;
    color: rgb(164, 172, 181);
}

@media (max-width: 1550px ){
    .form-wrapper{
        max-width: 30vw;
    }
   
}

@media (max-width: 1200px ){
    .form-wrapper{
        max-width: 35vw;
    }
   
}

@media (max-width: 1050px){
    .form-wrapper{
        max-width: 40vw; 
    }
   
}

@media (max-width: 845px){
    .form-wrapper{
        max-width: 50vw; 
    }
   
}

@media (max-width: 700px){
    .form-wrapper{
        max-width: 70vw; 
    }
   
}




@media (max-width: 1320px ){
    .form-wrapper__tour{
        max-width: 50vw;
    }
   
}

@media (max-width: 1050px ){
    .form-wrapper__tour{
        max-width: 65vw;
    }
   
}

@media (max-width: 750px ){
    .form-wrapper__tour{
        max-width: 70vw;
    }
   
}

.form-wrapper__create-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin: 20vh auto;
    background-color: rgb(233, 237, 240);
    border-radius: 5%;
    max-width: 25vw;
}




.login-form {    
    text-align: center;
    padding: 1.5rem; 
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 5%; 
} 

.create-account__button{
    width: 14rem;
}

#errorMsg {
    margin-top: -8rem;
    
}

.body-bg{
    background-color: #c84614;
    min-width: 100vw;
    min-height: 100vh;

}

