.nav-hover{
    color: white;
    opacity: .5;
}
.nav-hover:hover{
    color: white;
    opacity: 1;
}

@media (min-width: 991px){
    .mt-4__custom{
        margin-top: 1.8rem;
    }   
}
@media (max-width: 720px){
   
    .logo-custom{
        padding-right: 1rem;
        max-width: 60%;
    }
}