.tabs-bg{
    background-color: #c84614;
}

.tab{
    min-height: 100vh;
}

.nav-link{
    color: #343a40 !important;
    font-weight:600 !important;
    font-size: large !important;
    min-height: 3rem !important;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .5px;
}

.nav-tabs .nav-link.active{
    background-color: #c84614 !important;
}

.tab-content{
    margin-top: -1rem;
}

.nav-tabs .nav-link{
    border: var(--bs-nav-tabs-border-width) solid #bcbcbc !important;
}

.nav-tabs .nav-link:hover{
    border: var(--bs-nav-tabs-border-width) solid #343a40!important;
    border-bottom: none;

}

.text-light {
    font-weight: 900 !important;
}

.list-label{
    background-color: #c6582d !important;
}

p, li, .list-label{
    font-family: 'Hind Guntur', sans-serif;
    font-weight: bolder;
    transition: .2s;
}

h1, h3{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .5px;
}
@media (max-width: 768px){
    .lista-pc{
        display: none;
    }
   
}
@media (min-width: 768px){
    .lista-responsive{
        display: none;
    }
   
}

.lista-custom:hover{
    transform: scale(0.99);
    cursor:default;
}

@media (max-width: 933px ){
   
    .list-container{
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
